:root {
    font-size: 62.5%;
    font-family: "Ubuntu Condensed", sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --drawer-color: #0ea5e9;
    --nav-bg-1: #f8f8f8;
    --nav-color-1: #c9c9c9;
    --nav-color-2: #62daff6e;
    --blue-1: #084c61;
    --gh-avatar: url("https://github.com/dtoomey156.png");
    --gh-avatar2: url("https://github.com/james.png");
    --gh-avatar3: url("https://github.com/bob.png");
    --gh-avatar: url("https://github.com/alice.png");
    --gh-avatar: url("https://github.com/amy.png");
    --content-gray: rgb(235,235,235);

    /* Extended drawer */
    --expanded-drawer-width: clamp(200px, 20vw, 280px);


}

* {
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-size: 1.6rem;
    
    display: grid;
    grid-template-areas: 
    "drawer nav nav nav"
    "drawer content content content";
    grid-template-rows: .8fr 4fr;
    grid-template-columns: auto 1fr 1fr 1fr;
}


/*  */
/* BEGINNING OF THE DRAWER */
/*  */


.drawer {
    grid-area: drawer;
    display: flex;
    flex-direction: column;
    row-gap: calc(2rem + .5vw); 
    background-color: var(--drawer-color);
    height: 100vh;
    overflow: hidden;
    transition: width 0.4s ease-in;
}

.extendo {
    width: var(--expanded-drawer-width) !important;
}

.icon-title {
    display: none;
    font-size: calc(2rem + 0.2vw);
    transition: display 0.4s ease-in;
}

/* Individual drawer cards */

.menu-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-secondary);
    gap: calc(2rem + .5vw);
}

.menu-image > * {
    cursor: pointer;
}

/* Drawer Image Sizes */

.menu-image > .dash-icon {
    width: calc(8rem + .7vw);
    height: calc(8rem + .7vw);
}


.drawer img {
    width: calc(5rem + .5vw);
    height: calc(5rem + .5vw);
}

.drawer div:not(:first-child) {
    margin-left: 1.6rem;
}

/* Divider bar */

.divider-bar {
    border-style: solid;
    border-width: .25rem;
    /* border-color: var(--drawer-color); */
    border-color: white;
    background-color: var(--drawer-color);
    border-radius: 1rem;
    height: 1.5rem;
    width: var(--expanded-drawer-width);
    /* transition: border 0.4s ease-in; */
    transition: background-color 0.5s ease-in;
}

.drawer div:nth-child(2),
.drawer div:nth-child(9) {
    margin-left: 1rem;
    margin-right: 1rem;
}



/* HOVER EFFECTS -  effects for drawer width transition are set using Javascript */

.drawer:hover .icon-title {
    display: flex;
}


/*  */
/* Nav section */
/*  */


.nav {
    grid-area: nav;
    background-color: grey;
}


/*  */
/* Content section */
/*  */


.content {
    grid-area: content;
    background-color: purple;
}